<section class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates suscipit ullam blanditiis dicta odit, consequuntur maiores cupiditate incidunt molestias repellendus.</p>
    </div>
</section>