    <h1>Navigation</h1>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut nostrum soluta placeat similique, corrupti sapiente veritatis porro excepturi blanditiis deleniti. Corporis, quas veritatis ratione soluta suscipit architecto nam ullam ipsa?</p>



    <h1>Footer</h1> 