<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App Nodejs and MongoDb</h1>
    <p class="lead">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Consectetur, earum dolor fugiat perferendis non dicta soluta provident? Nam quidem vitae doloremque, quae, esse non, officia ipsam amet praesentium est aliquid.</p>
    <hr class="my-4">
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eum ea libero iste, et doloribus nisi nulla fugit recusandae, illum assumenda laudantium, distinctio eveniet porro quae! Ad aliquam repellat voluptates corrupti?</p>
    <a href="#" class="btn btn-primary">More Info</a>
</div>

